<section class=" bg-white rounded-[20px] px-[30px] py-[25px] shadow-sm border border-black/5">
  @if(listaUsuarios.length == 0) {
  <div class="vacio"><strong>Users not found.</strong></div>
  }
  <ul class="usuarios-list flex flex-col gap-[12px]">
    @for (usuario of (filter == 'all' ? listaUsuarios : usuariosFiltrados ); track $index) {
    @if(usuario.tipo === 2) {
    <li class="bg-[#F6F6F6] rounded-[12px] px-[16px] py-[12px] flex flex-col gap-[4px]">
      <div class="usuario-content flex justify-between items-center">

        <!-- icono e info-->
        <div class="flex gap-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-10">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>

           <!-- info -->
        <div>
          <div>{{usuario.nombre}} {{usuario.apellido}}</div>
          <div>{{usuario.email}}</div>
        </div>


        </div>



        <!-- botones -->
        <div class="contenedor-botones flex gap-4 ">

          <!-- SI ES HABILITAR QUE SEA VERDE -->
          <button type="button" class="text-[12px] text-black/40 hover:text-black transition cursor-pointer "
            (click)="confirmarDHR(usuario)">
            {{ usuario.alta ? 'Disable' : 'Enable' }} account
          </button>

          <button
            class="bg-[#631BE9] hover:bg-[#551BC1] transition-colors duration-200 text-white px-4 py-2 rounded-[100px] disabled:bg-gray-400"
            type="button" [routerLink]="['/ver-detalle-usuario', adminId, usuario.id]">User
            Details</button>

        </div>

      </div>
    </li>
    }
    }
  </ul>


</section>


