<div class=" flex justify-between mt-[74px] px-[108px]">

  <!-- compra -->
  <div class="flex flex-col bg-white rounded-[20px] px-[30px] py-[25px] shadow-sm border border-black/5">

    <h2 class="inter font-bold text-[40px] mb-[40px]">Select your section</h2>

    <ul class="lista-sectores inter text-[16px]">
      <li *ngFor="let entrada of fechaSeleccionada.entradas"
        class="flex justify-between sector-item border border-[#C8C5C5] px-[10px] py-[12px]">
        <!--deshabilita el sector si no tiene stock-->
        <div class="flex gap-4">
          <input type="radio" id="sectorSeleccionado" name="sectorSeleccionado" [(ngModel)]="sectorSeleccionado"
            [value]="entrada.nombreSector" (change)="asignarSectorYPrecio(entrada)"
            [disabled]="entrada.disponibles === 0" class="radio-sector accent-[#21C183] cursor-pointer" />
          <label for="sectorSeleccionado" class="label-sector">{{entrada.nombreSector}}</label>
        </div>

        <p class="precio-sector">${{entrada.precio}}</p>
      </li>
    </ul>

   <div class="flex flex-col gap-[10px] mt-[40px]">

  <h3 class="text-[18px] font-semibold">Number of tickets</h3>

  <div class="relative w-[140px]">

    <select
      [(ngModel)]="compra.cantidad"
      (change)="actualizarTotalPrecio()"
      class="w-full h-[42px] px-[12px] pr-[35px] rounded-[12px] border border-black/10 bg-white text-[14px] cursor-pointer focus:outline-none focus:ring-2 focus:ring-[#631BE9]/20 focus:border-[#631BE9] transition">

      <option value="" disabled selected>Select</option>
      <option value="1" *ngIf="asientosDisponibles >= 1">1 ticket</option>
      <option value="2" *ngIf="asientosDisponibles >= 2">2 tickets</option>
      <option value="3" *ngIf="asientosDisponibles >= 3">3 tickets</option>
      <option value="4" *ngIf="asientosDisponibles >= 4">4 tickets</option>
    </select>

  </div>

</div>


    <div class="flex flex-col items-end mt-[60px]">

      <div *ngIf="sectorSeleccionado" class="detalle-compra" >
        <p class="detalle-texto text-[#AAAAAA] text-[16px] mb-[8px]">{{sectorSeleccionado}} x{{compra.cantidad}} ${{compra.precioTotal}}</p>
      </div>

      <button (click)="iniciarPago()" class="boton-comprar w-[190px] h-[40px] inter rounded-[100px] bg-[#631BE9] text-white hover:bg-[#551BC1]
        transition-colors duration-200
        disabled:cursor-not-allowed
        " [disabled]="sectorSeleccionado == '' || yaCompro">
        Buy ticket
      </button>

    </div>

  </div>

  <!-- mapa -->
  <div class="w-[600px]">
    <img [src]='mapaImg' alt="venue map" class="object-cover">
  </div>

</div>
