<div class=" flex justify-between mt-[74px] px-[108px]">

  <!-- compra -->
  <div class="flex flex-col">

    <h2 class="inter font-bold text-[40px] mb-[40px]">Select your section</h2>

    <ul class="lista-sectores inter text-[16px]">
      <li *ngFor="let entrada of fechaSeleccionada.entradas"
        class="flex justify-between sector-item border border-[#C8C5C5] px-[10px] py-[12px]">
        <!--deshabilita el sector si no tiene stock-->
        <div class="flex gap-4">
          <input type="radio" id="sectorSeleccionado" name="sectorSeleccionado" [(ngModel)]="sectorSeleccionado"
            [value]="entrada.nombreSector" (change)="asignarSectorYPrecio(entrada)"
            [disabled]="entrada.disponibles === 0" class="radio-sector accent-[#21C183] cursor-pointer" />
          <label for="sectorSeleccionado" class="label-sector">{{entrada.nombreSector}}</label>
        </div>

        <p class="precio-sector">${{entrada.precio}}</p>
      </li>
    </ul>

    <h3 class="titulo-cantidad mt-[60px]">Number of tickets</h3>
    <!--la cantidad max para comprar es 4, pero valida si hay menos-->
    <select [(ngModel)]="compra.cantidad" (change)="actualizarTotalPrecio()" class="select-cantidad w-[62px] h-[30px] bg-[#E5D2FF] ">
      <option value="" disabled selected>Seleccionar cantidad</option>
      <option value="1" *ngIf="asientosDisponibles >= 1">1</option>
      <option value="2" *ngIf="asientosDisponibles >= 2">2</option>
      <option value="3" *ngIf="asientosDisponibles >= 3">3</option>
      <option value="4" *ngIf="asientosDisponibles >= 4">4</option>
    </select>


    <div class="flex flex-col items-end mt-[60px]">

      <div *ngIf="sectorSeleccionado" class="detalle-compra" >
        <p class="detalle-texto text-[#AAAAAA] text-[16px] mb-[8px]">{{sectorSeleccionado}} x{{compra.cantidad}} ${{compra.precioTotal}}</p>
      </div>

      <button (click)="iniciarPago()" class="boton-comprar w-[190px] h-[40px] inter rounded-[100px] bg-[#631BE9] text-white hover:bg-[#551BC1]
        transition-colors duration-200
        disabled:cursor-not-allowed
        " [disabled]="sectorSeleccionado == '' || yaCompro">
        Buy ticket
      </button>

    </div>

  </div>

  <!-- mapa -->
  <div class="w-[600px]">
    <img [src]='mapaImg' alt="venue map" class="object-cover">
  </div>

</div>
