/* .compra-section {
  background-color: #efefef90;
  border-radius: 8px;
  padding: 3%;
  width: 60%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-top: 2%;
  color: #333;
  text-align: center;
}

.divreg {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #631BE977;
  border-radius:8px;
  width:100%;
  border-top: none;

}

.titulo-compra {

  font-size: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 200;
}

.subtitulo-compra {
  font-size: 25px;
  color: #631BE9;
  margin-bottom: 20px;
}

.compra-fieldset {
  border: none;
  padding: 0;
}

.lista-sectores {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sector-item {
  background-color: #ffffff;
  padding: 15px;
  margin: 12px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #631BE9;
  transition: all 0.3s ease;

}

.sector-item:hover {
  background-color: #e7e7f5;
  transform: translateY(-5px);
}

.radio-sector {
  margin-right: 15px;
  cursor: pointer;
}

.label-sector {
  font-weight: bold;
  color: #631BE9;
}

.precio-sector {
  font-size: 16px;
  color: #631BE9;
  font-weight: 500;
}

.titulo-cantidad {
  font-size: 18px;
  color: #631BE9;
  margin-top: 20px;
  margin-bottom: 10px;
}

.select-cantidad {
  display: flex;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  border: 2px solid #fff;
  background-color: #fff;
}

.select-cantidad:focus {
  outline: none;
  border-color: #631BE9;
}
.select-cantidad:hover {
  outline: none;
  border-color: #631BE9;
}

.detalle-compra {
  font-size: 18px;
  color: #631BE9;
  margin-top: 20px;
  font-weight: bold;
}

.detalle-texto {
  color: #631BE9;
}

.boton-comprar {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #631BE9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.boton-comprar:hover {
  background-color: #"b91c1c"9f;
  color: #631BE9;
  transform: translateY(-5px);
}

.pago-section {
  margin-top: 30px;
}

.fondo{
  position: relative;
  width: 100%;
  box-sizing:border-box;
  display: row;
  align-items:center;
  justify-content: center;
  min-height:100vh;
  background:url('/img/audiencia-background.jpg') ;
  background-position: center;
  background-size: cover;

}

button:disabled{
  color: #fff;
  background-color: #631BE972;
}

button:disabled:hover{
  color: #fff;
  background-color: #631BE972;
} */
