/* .compras-section {
  margin-bottom: 15%;
  padding: 3%;
justify-self: center;
  width: 130%;
  border-radius: 8px;
  background-color: #efefef90;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}
.container-vertical{
  display: row;
}

.fondo{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height:110vh;
  position: relative;
  background-position:center;
  background-size: cover;
  background: url('/img/audiencia-background.jpg') ;
}

.compras-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.compra-item {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  transition: transform 0.3s ease;
}

.compra-item:hover {
  transform: translateY(-5px);
  background-color: #631BE989;

}

.compra-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.evento-nombre {
  font-size: 18px;
  font-weight: bold;
  color: #631BE9;
  margin: 0;
}

.evento-fecha {
  font-size: 16px;
  color: #631BE9;
  margin: 0;
}

.detalle-boton {
  align-self: flex-start;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #631BE9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detalle-boton:hover {
  color: #631BE9;
  background-color: #b91c1c ;
  transform: translateY(-5px);
}

.detalle-boton:disabled {
  background-color: #631BE95d;;
}

.detalle-boton:active {
  transform: translateY(2px);
}

.boton-filtro{
  margin: 1rem;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #631BE9a3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.boton-filtro:hover{
  color: #631BE9;
  background-color: #b91c1c ;
  transform: translateY(-5px);
}

.layout {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-left: 15%;
  padding: 20px;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 15%;
  height: 100vh;
  overflow-y: auto;
  background-color: #efefef90;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.compras-container {
  flex: 1;
}

.filtros {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eventos {
  margin-top: 20px;
}

.eventos ul {
  list-style: none;
  padding: 0;
}

.eventos li {
  cursor: pointer;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.eventos li:hover {
  background-color: #b91c1c;
  color: #fff;
}

.vacio{
  text-align: center;
} */
