/* .fila-section {
  background-color: #efefef90;
  border-radius: 8px;
  padding: 5%;
  width:300%;
  justify-self: center;
  margin-bottom:2%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  text-align: center;
  margin-top: 20%;
  padding-bottom: 1rem;
} */

/* .titulo-fila {
  font-size: 24px;
  font-weight: bold;
  color: #36173d;
  margin-bottom: 20px;
} */

/* .boton-ingresar {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #36173d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.boton-ingresar:hover {
  background-color: #ff48459f;
  color: #36173d;
  transform: translateY(-5px)
}

button:disabled{
  color: #fff;
  background-color: #36173d72;
}

button:disabled:hover{
  color: #fff;
  background-color: #36173d72;
} */


/* .lista-fila {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-fila {
  background-color: #efefef90;
  padding: 2%;
  width: 150;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #333;

  transition: all 0.3s ease;
} */

/* .item-fila:hover {
  background-color: #e7e7f5;
  transform: translateY(-5px);
} */


.song-preview {
  margin-top: 30px;
  background-color: #efefef90;
  padding:5%;
  border-radius: 8px;
  width:1079px;

  justify-self: center;
  margin-bottom:5%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  text-align: center;
}

.song-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.album-cover {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
}

.text-info {
  flex-grow: 1;
  margin-left: 20px;
  text-align: left;
}

.text-info h3 {
  font-size: 20px;
  color: #36173d;
  margin: 0;
}

.text-info .artist {
  font-size: 16px;
  color: #36173d;
}

audio {
  margin-top: 15px;
  width: 100%;
  border-radius: 8px;
  border: none;
}

.contenedor-flex-vertical {
  display: row;
}

/* .barra-progreso-container {
  justify-self: center;
  width: 400%;
  height: 10px;
  background-color: #efefef;
  border-radius: 5px;
  margin-top: 5%;
} */

.barra-progreso {
  height: 100%;
  width: 0%;
  background-image: url(/img/banner-tp.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: width 0.1s ease-in-out;
}


/* .fondo{
  position: relative;
  width: 100%;
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  min-height:100vh;
  background:url('/img/audiencia-background.jpg') ;
  background-position: center;
  background-size: auto;
} */

.song-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Para posicionar los elementos dentro del contenedor */
}

.song-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Para posicionar los elementos dentro del contenedor */
}

.spotify-message {
  margin-top: 30px; /* Aumentamos la distancia desde el reproductor */
  font-size: 16px; /* Aumentamos el tamaño del texto */
  color: #fff; /* Color blanco */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  padding: 10px 15px;
  border-radius: 5px;
}

.spotify-icon {
  width: 50px; /* Hacemos el icono más grande */
  height: 50px; /* Hacemos el icono más grande */
  margin-top: 20px; /* Espaciado entre el reproductor y el icono */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.spotify-icon:hover {
  transform: scale(1.2); /* Efecto de escala al pasar el mouse */
}
