/*
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0 10px;
  color: white;
  position: relative;
}

section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/img/audiencia-background.jpg') #000;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.wrapper {
  margin-top: 5%;
  margin-bottom: auto;
  width: 470px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid #ffffff80;
  backdrop-filter: blur(8px);
}

form{
  display: flex;
  flex-direction: column;

}
h2{
  font-size: 2.5em;
  margin-bottom:20px;
  color:#fff;
}

.input-field{
  position: relative;
  border-bottom:2px solid #ccc;
  margin: 15px 0;
}

.input-field label{
  position: absolute;
  color:#fff;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size:16px;
  pointer-events:none;
  transition: 0.15s ease;
}

.input-field input{
  width:100%;
  height:40px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-field input:focus~label,
.input-field input:valid~label{
  font-size: 0.8rem;
  top:10px;
  transform: translateY(-120%);
}

.wrapper a {
color: #efefef;
text-decoration: underline;
}

button{
  background:#36173d89;
  color:#fff;
  font-weight:600px;
  font-family: Arial, Helvetica, sans-serif;
  border:none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size:16px;
  border:2px solid transparent;
}
button:hover{
  background:#ff484589;
  border-radius:5px;

}

.sesion{
  text-align: center;
  margin-top:30px;
  color: #fff;
}
.divAvisos{

  color: #ccc;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

input::placeholder{
  color: #ccc;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.password{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
 */
