<section class="min-h-screen flex overflow-hidden">

  <div class="foto w-1/2 bg-cover bg-center hidden md:block rounded-r-[32px] overflow-hidden relative"
    style="background-image: url(/img/imagen-bg.jpg);">
    <div class="absolute inset-0 backdrop-blur-[2px] bg-black/10">
      <div class="absolute top-12 left-6 z-10">
        <h2 class="inter text-white text-[64px] leading-none font-bold tracking-wide">
          Password <br> recovery
        </h2>
      </div>
    </div>
  </div>


  <div class="wrapper w-full md:w-1/2 flex items-center justify-center ">
    <form [formGroup]="formCambioContrasenia">
      <div *ngIf="!closeForm">

        <div class="mb-[44px]">
          <h2 class="inter font-bold text-[32px]">Security question</h2>
        </div>

        <br>

        <div class="input-field flex flex-col mb-[44px] gap-2">
          <h3 class="inter text-[20px]">{{usuario?.pregunta}}</h3>

          <input type="text" id="respuesta" formControlName="respuesta"
            class="w-[300px] h-[35px] border border-[#6B7280] rounded-[8px] pl-[4px]" placeholder="Enter your answer" />
          <div
            *ngIf="formCambioContrasenia.controls['respuesta'].getError('required') && formCambioContrasenia.controls['respuesta'].touched"
            class="divAvisos">
            You must enter an answer.
          </div>
        </div>

        <button type="submit" (click)="verificarRta()"
          class="w-full h-[40px] inter rounded-[8px]  bg-[#7C3AED] text-white hover:bg-[#5B21B6] transition-colors duration-200">Verify
          answer</button>
      </div>

      <div *ngIf="closeForm">

        <h2 class="inter font-bold text-[32px] mb-[44px]">Change password</h2>

        <div class="input-field flex flex-col mb-[44px]">

          <label for="nuevaContrasenia">New password</label>

          <div class="flex gap-4">
            <input [type]="showPassword ? 'text' : 'password'" id="nuevaContrasenia" formControlName="nuevaContrasenia"
              class="w-[300px] h-[35px] border border-[#6B7280] rounded-[8px] pl-[4px]" />

            <fa-icon [icon]="showPassword ? faEyeSlash : faEye" (click)="showPassword = !showPassword"
              class="password"></fa-icon>
          </div>

          @if ((formCambioContrasenia.controls['nuevaContrasenia'].getError('required') ||
          formCambioContrasenia.controls['nuevaContrasenia'].getError('minLength')) &&
          formCambioContrasenia.controls['nuevaContrasenia'].touched) {
          <div class="divAvisos">
            The new password must be longer than 8 characters
          </div>
          }

        </div>

        <button type="submit" (click)="cambiarContrasenia()"
          class="w-full h-[40px] inter rounded-[8px]  bg-[#7C3AED] text-white hover:bg-[#5B21B6] transition-colors duration-200">Change
          password</button>
      </div>
    </form>
  </div>
</section>
