/*

  margin:0;
  padding:0;
  box-sizing:border-box;
}

.seccion-perfil {
    margin-left: 2%;
    margin-bottom: 10%;
    width:40%;
    border-radius:8px;
    padding: 3%;
    text-align: center;
    border: 1px solid #ffffff80;
    background-color: #efefef90;
}

.perfil-header {
  text-align: center;
  margin-bottom: 20px;
}

.titulo-perfil {
  font-size: 30px;
  font-weight: bold;
  color: #631BE9;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.subtitulo-perfil {
  font-size: 16px;
  color: #631BE9;
}


.informacion-perfil {
  margin-bottom: 15px;
 text-align: left;
 background-color: #efefefc8;

}

.lista-perfil {
  list-style: none;
  padding: 0;
  margin-left:2%;
  margin-top:2%;
  font-size: 16px;

}

.detalle {
  margin-bottom: 10px;
  line-height: 1.5;
}

.direccion {
  margin-top: 5px;
}

.direccion li {
  margin-left: 20px;
}


.acciones {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.boton-editar {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  background-color: #631BE9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-editar:hover {
  background-color:  #ff48459f ;
  color: #631BE9;
  transform: translateY(-5px);
}

.boton-editar:active {
  transform: translateY(2px);
}


.formulario-editar {
  margin-top: 20px;
  text-align: center;
}

.titulo-editar {
  font-size: 20px;
  font-weight: bold;
  color: #631BE9;
  margin-bottom: 15px;
}

strong {
  color: #631BE9;
}

.fondo{
  position: relative;
  width: 100%;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;
  background:url('/img/background-op2.png') ;
  background-position:center;
  background-size: cover;
}
 */


.input-profile {
  width: 300px;
  height: 40px;
  border: 1px solid #6B7280;
  border-radius: 8px;
  padding-left: 16px;
  color: black;
  background: white;
}

.input-profile[readonly] {
  background: #f3f4f6;
  cursor: default;
}
