<div class="flex w-full h-screen">
  <!-- img fondo con nombre -->
  <div class="relative">
    <img src="/img/banner-tp.png" alt="imagen fondo" class=" w-[374px] h-full object-cover">
    <div class="absolute z-20 top-8 ml-[44px]">
      <h2 class="inter text-[30px]">Hi, </h2>
      <h3 class="inter text-[30px]">Welcome, <b> {{usuario?.nombre}} </b> </h3>
    </div>
  </div>


  <!-- info perfil -->
  <div>

    <!-- info -->
    <div class="ml-[100px] mt-[60px]">

      <div class="flex justify-between items-center mb-[44px] text-black">
        <h2 class="inter font-bold text-[44px]">{{ isEditing ? 'Edit Profile' : 'Profile' }}</h2>

        <button type="button" (click)="editUser()" [disabled]="isEditing && formularioUsuario.invalid" class="w-[190px] h-[40px] inter rounded-[100px]
         text-white transition-colors duration-200 border border-[#631BE9]" [ngClass]="
    isEditing
      ? 'bg-[#FCACFD] hover:bg-[#F79AFB] text-[#631BE9]'
      : 'bg-[#631BE9] hover:bg-[#551BC1]'
  ">
          {{ isEditing ? 'Save changes' : 'Edit Profile' }}
        </button>
      </div>


      <form [formGroup]="formularioUsuario">

        <div class="flex justify-between gap-[150px]">
          <div>
            <div class="flex flex-col">
              <h3 class="font-bold text-[20px]">Account information</h3>

              <label>Username</label>
              <input type="text" formControlName="nombreUsuario" class="input-profile" [readonly]="!isEditing" />

              <div *ngIf="isEditing && formularioUsuario.get('nombreUsuario')?.touched">
                <div *ngIf="formularioUsuario.get('nombreUsuario')?.errors?.['required']"
                  class="text-red-500 text-sm mt-1">
                  Username is required.
                </div>

                <div *ngIf="formularioUsuario.get('nombreUsuario')?.errors?.['minlength']"
                  class="text-red-500 text-sm mt-1">
                  Username must be at least 3 characters.
                </div>
              </div>
            </div>

            <div class="flex justify-between gap-[100px] mt-[40px] items-center">

              <div class="flex flex-col">
                <h3 class="font-bold text-[20px] mb-[20px]">User information</h3>

                <label for="nombreUsuario">First name </label>
                <input type="text" id="nombreUsuario" formControlName="nombre" class="input-profile"
                  [readonly]="!isEditing" />
                <div
                  *ngIf="isEditing && formularioUsuario.get('nombre')?.invalid && formularioUsuario.get('nombre')?.touched"
                  class="text-red-500 text-sm mt-1">
                  First name is required.
                </div>

                <label for="apellidoUsuario">Last name</label>
                <input type="text" id="apellidoUsuario" formControlName="apellido" class="input-profile"
                  [readonly]="!isEditing" />
                <div
                  *ngIf="isEditing && formularioUsuario.get('nombre')?.invalid && formularioUsuario.get('nombre')?.touched"
                  class="text-red-500 text-sm mt-1">
                  Last name is required.
                </div>

                <label for="telefonoUsuario">Phone</label>
                <input type="tel" id="telefonoUsuario" formControlName="telefono" class="input-profile"
                  [readonly]="!isEditing" />
                <div
                  *ngIf="isEditing && formularioUsuario.get('nombre')?.invalid && formularioUsuario.get('nombre')?.touched"
                  class="text-red-500 text-sm mt-1">
                  Phone is required.
                </div>

                <label>Email</label>
                <input type="email" formControlName="email" class="input-profile" [readonly]="!isEditing" />

                <div *ngIf="isEditing && formularioUsuario.get('email')?.touched">
                  <div *ngIf="formularioUsuario.get('email')?.errors?.['required']" class="text-red-500 text-sm mt-1">
                    Email is required.
                  </div>

                  <div *ngIf="formularioUsuario.get('email')?.errors?.['email']" class="text-red-500 text-sm mt-1">
                    Please enter a valid email address.
                  </div>
                </div>
              </div>

            </div>

          </div>


          <div formGroupName="direccion" class="flex flex-col relative">
            <h3 class="font-bold text-[20px] mb-[20px]">Address</h3>

            <div class="flex flex-col">
              <label for="calleUsuario">Street</label>
              <input type="text" id="calleUsuario" formControlName="calle" class="input-profile"
                [readonly]="!isEditing">
            </div>

            <div class="flex flex-col">
              <label for="numeroUsuario">Street number</label>
              <input type="number" id="numeroUsuario" formControlName="numero" class="input-profile"
                [readonly]="!isEditing">
            </div>



            <label for="ciudadUsuario">City</label>
            <input type="text" id="ciudadUsuario" formControlName="ciudad" class="input-profile"
              [readonly]="!isEditing">

            <label for="codigoPostalUsuario">Postal code</label>
            <input type="text" id="codigoPostalUsuario" formControlName="codigoPostal" class="input-profile"
              [readonly]="!isEditing">

            <label for="paisUsuario">Country</label>
            <input type="text" id="paisUsuario" formControlName="pais" class="input-profile" [readonly]="!isEditing">


            <!-- cambiar contraseña -->

            <div *ngIf="isEditing" class="absolute bottom-0 right-0">
              <a class="text-[16px] text-[#631BE9] underline"
                [routerLink]="['/cambiar-contrasenia' , usuario?.id]">Change password</a>
            </div>

          </div>


        </div>


      </form>


    </div>


  </div>

</div>
