<header class="w-full h-[64px] bg-[#5353EB]
  flex justify-between items-center
  pl-[70px] relative
  shadow-[0_1px_6px_rgba(0,0,0,0.05)]">


  <div class="logo flex justify-center items-center gap-[5px] cursor-pointer">


    <span *ngIf="idUsuario !== null" [routerLink]="['usuarios', idUsuario]" class="inter font-bold text-[32px] ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-[32px] text-white">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
      </svg>

    </span>
    <span *ngIf="idUsuario === null" class="inter font-bold text-[32px] "> <svg xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-[32px] text-white">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z" />
      </svg>
    </span>
  </div>

  <div *ngIf="tipoUsuario === 1" class="">
    <!-- menú para el Administrador -->
    <nav class="flex items-center gap-4 pr-[100px]">

      <button (click)="menuDesplegable()" class="p-2 rounded-md
          text-white hover:text-[#5353EB]
          hover:bg-[#E1F44B]
          transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>

      </button>

      <div *ngIf="verMenu" class="absolute top-[72px] bg-[#FAFAFA] p-4 z-50">

        <ul class="flex flex-col gap-4 justify-center items-center w-full">
          <li class="border-b-2 border-transparent hover:border-gray-500"><a
              [routerLink]="['/administrador' , idUsuario]" (click)="cerrarMenu()">Menu</a></li>
          <li class="border-b-2 border-transparent hover:border-gray-500"><a routerLink="add-eventos"
              (click)="cerrarMenu()">Add event</a></li>
          <li class="border-b-2 border-transparent hover:border-gray-500"><a
              [routerLink]="['/eventos-administrador', idUsuario]" (click)="cerrarMenu()">View registered events</a>
          </li>
          <li class="border-b-2 border-transparent hover:border-gray-500"><a routerLink="recintos"
              (click)="cerrarMenu()">View venues</a></li>
          <li class="border-b-2 border-transparent hover:border-gray-500"><a href="compras" (click)="cerrarMenu()">View
              purchases</a></li>
          <li class="border-b-2 border-transparent hover:border-gray-500"><a [routerLink]="['/ver-usuarios', idUsuario]"
              (click)="cerrarMenu()">View registered users </a></li>
          <li class="border-b-2 border-transparent hover:border-gray-500 justify-center"><a
              [routerLink]="['/preguntas-frecuentes-administrador']" (click)="cerrarMenu()">FAQs</a>
          </li>
        </ul>
      </div>

      <a href="#" (click)="cerrarSesion()" class="text-white border-b-2 border-transparent hover:border-[#E1F44B] ">Log out</a>

    </nav>
  </div>

  <div *ngIf="tipoUsuario === 2">
    <!-- menú para el Cliente -->
    <nav class="flex pr-[100px] gap-[16px] text-white">
      <a [routerLink]="['/ver-mis-entradas']" class=" border-b-2 border-transparent hover:border-[#E1F44B] ">My
        tickets</a>
      <a href="#" (click)="cerrarSesion()" class=" border-b-2 border-transparent hover:border-[#E1F44B] ">Log out</a>
      <a [routerLink]="['/perfil' , idUsuario]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6 text-white
       hover:text-gray
       hover:scale-110
       transition-transform duration-200 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
      </a>
    </nav>
  </div>

  <div *ngIf="tipoUsuario === null">

    <!-- menú para los usuarios no logueados -->
    <nav class="pr-[100px] flex gap-[16px]">
      <button routerLink="/iniciar-sesion"
        class=" bg-[#FAFAFA] w-[84px] h-[41px] rounded-[100px] hover:bg-[#F1EFEF] transition-colors duration-200 ">Login</button>
      <button routerLink="/registrarse" class=" bg-[#FCACFD] w-[84px] h-[41px] rounded-[100px] text-[#5353EB] hover:bg-[#F79AFB]
    transition-colors duration-200">Sign up</button>
    </nav>
  </div>

</header>
