<div class="contenedor-ventana">
  <div class="ventana-header">
    <!--muestra la disponiblilidad en todas las fechas y todos los sectores del evento seleccionado-->
    <h2>Event Availability</h2>
    <span class="cerrar-cruz" (click)="cerrarVentana()">×</span>
  </div>
  <div class="ventana-body">
    <ul>
      <li *ngFor="let fecha of evento?.fechas">
        <p><strong>Date:</strong> {{fecha.fecha}} - <strong>Availability:</strong> {{fecha.disponibilidadTotal}}</p>
        <ul>
          <li *ngFor="let entrada of fecha.entradas">
            <strong><Section></Section>:</strong> {{entrada.nombreSector}} - <strong>Availability:</strong> {{entrada.disponibles}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
