/* .seccion-eventos {
  padding: 20px;
  background-color: #efefef90;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  max-width: 800px;
  margin: 30px auto;
  padding-bottom: 15rem;
}


.lista-eventos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-evento {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  transition: transform 0.3s ease;
}

.item-evento:hover {
  background-color: #631BE950 ;
  transform: translateY(-5px);
}

.nombre-evento {
  font-size: 18px;
  font-weight: bold;
  color: #631BE9;
  margin: 0;
}

.contenedor-botones {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.boton-accion,
.boton-detalle {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #631BE9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton-accion:hover,
.boton-detalle:hover {
color: #631BE9;

  transform: translateY(-5px);
}

.boton-accion:active,
.boton-detalle:active {
  transform: translateY(2px);
}
 */
