/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

h1 {

  font-size: 40px;
  color: white;
  font-weight: 100;
  justify-self: center;
  padding-top: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
  width: 100%;
  display: block;
  padding: 10px;
  color: white;
  min-height: 100vh;
  position: relative;
  margin-bottom:5%;
}

section::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('/img/audiencia-background.jpg') #000;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

app-list-evento,
app-filtrar-eventos {
  margin-top: 20px;
} */
