*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-fondo{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items:center;
  justify-content: center;
  min-height:110vh;
  padding: 0 10px;
  color:white;
  background-position:center;
  background-size: auto;
}



.banner-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.detalle-entrada {
  position: relative;
  max-width: 700px;
  margin: 40px auto;
  padding: 2%;
  background-color: #efefefc6;
  border-radius: 8px;
  color: #333;
  overflow: hidden;
  margin-bottom: 10%;
}

.detalle-entrada:hover {
  background-color: white;
}

.entrada-titulo {
  text-align: center;
  margin-bottom: 30px;
}

.entrada-titulo h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E1D1B;
  margin: 0;
}

.entrada-info {
  padding: 20px;
}

.entrada-item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6;
}

.entrada-label {
  font-weight: bold;
  color: #1E1D1B;
}

.butacas {
  margin-top: 20px;
}

.butaca-lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.butaca-item {
  display: inline-block;
  margin-right: 10px;
  padding: 6px 14px;
  background-color: #dfe4ea;
  color: #2e3d49;
  border-radius: 6px;
  font-weight: bold;
}

.boton-container {
  text-align: center;
  margin-top: 30px;
}



/* button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #631BE9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
} */

/* button:hover {
  background-color: #"b91c1c"9f;
  color: #631BE9;
  transform: translateY(-5px);
}

.btnDescargar {
  display: flex;
  justify-content: end;
  align-items: center;
} */

.mensaje {
  margin: 1rem;
  font-size: smaller;
}
