<section class="section-fondo bg-[#1E1D1B]">
  <section class="detalle-entrada">

    <div class="banner">
      <img [src]="urlBanner" alt="Banner del evento" class="banner-img" />
    </div>

    <div #entrada>

      <div class="entrada-titulo">
        <h2>
          Ticket details for {{compraSeleccionada?.evento?.nombreEvento}}
        </h2>

      </div>
      <div class="entrada-contenido">
        <p class="entrada-item">
          <span class="entrada-label">Event Name:</span> {{compraSeleccionada?.evento?.nombreEvento}}
        </p>
        <p class="entrada-item">
          <span class="entrada-label">Event Date:</span> {{compraSeleccionada?.evento?.fechaEvento}}
        </p>
        <p class="entrada-item">
          <span class="entrada-label">Purchase Date:</span> {{ compraSeleccionada?.fechaDeCompra | date:'yyyy/MM/dd'
          }}
        </p>
        <p class="entrada-item">
          <span class="entrada-label">User:</span> {{compraSeleccionada?.cliente?.email}}
        </p>
        <p class="entrada-item">
          <span class="entrada-label">Number of Tickets:</span> {{compraSeleccionada?.cantidad}}
        </p>
        <p class="entrada-item">
          <span class="entrada-label">Unit Price:</span> ${{compraSeleccionada?.entrada?.precioUnitario}}
        </p>
        <p *ngIf="compraSeleccionada && compraSeleccionada.cantidad > 1" class="entrada-item">
          <span class="entrada-label">Total Price:</span> ${{compraSeleccionada.precioTotal}}
        </p>
        <p class="entrada-item">
          <span class="entrada-label">Section:</span> {{compraSeleccionada?.entrada?.sector}}
        </p>
        <div *ngIf="compraSeleccionada?.entrada?.butaca?.length" class="butacas">
          <p class="entrada-label">Seats:</p>
          <ul class="butaca-lista">
            <li *ngFor="let butaca of compraSeleccionada?.entrada?.butaca" class="butaca-item">
              {{butaca}}
            </li>
          </ul>
        </div>
      </div>

    </div>

    <!--descarga un PDF con los datos de la entrada y su qr unico-->
    <div class="btnDescargar flex justify-end ">
      <button (click)="descargarEntrada()" class="w-[180px] h-[40px] text-white bg-[#631BE9] hover:bg-[#551BC1] transition-colors duration-200 rounded-[100px]">Download Ticket</button>
    </div>

    <div class="mensaje">*Please remember to download your ticket before the day of the show, as the QR code will be required for entry.</div>

  </section>

</section>
