/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.compras-section {
  margin-top: 1rem;
  padding: 3%;
  margin-left: 2%;
  margin-bottom:15%;
  width:40%;
  border: 1px solid #ffffff80;
  background-color: #efefef90;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  border-radius: 8px;
}

.fondo{
   position: relative;
   width: 100%;
   min-height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;
  background: url('/img/audiencia-background.jpg');
  background-position:center;
  background-size: cover;

}

.compras-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.compra-item {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  transition: transform 0.3s ease;
}

.compra-item:hover {
  transform: translateY(-5px);
  background-color: #631BE950;

}

.compra-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.evento-nombre {
  font-size: 18px;
  font-weight: bold;
  color: #631BE9;
  margin: 0;
}

.evento-fecha {
  font-size: 16px;
  color: #631BE9;
  margin: 0;
}

.detalle-boton {
  align-self: flex-start;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #631BE9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detalle-boton:hover {
  background-color: #"b91c1c"9f;
  color: #631BE9;;
}

.detalle-boton:active {
  transform: translateY(2px);
}

.vacio{
  text-align: center;
} */
