*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

section{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display:row;
  justify-content: center;
  min-height:100vh;
  background: url('/img/background-op2.png') center center   / cover no-repeat;
  margin-bottom: auto;
}

.divreg {
  position: absolute;
  padding: 10px 10px;
  background-color: #631BE977;
  border-radius:8px;
  width:100%;
  border-top: none;

}

h2{

  margin-left: 12.5%;
  margin-top:0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: white;

}

.wrapper{
  margin-left: 35%;
  margin-top: 5%;
  margin-bottom: 10%;
  width:30%;
  border-radius:8px;
  padding: 3%;
  text-align: center;
  border: 1px solid #ffffff80;
  background-color: #efefef90;
}

form{
  display: flex;
  flex-direction: column;
}

.input-field{
  position: relative;
  border-bottom:2px solid #631BE9;
  margin: 15px 0;
}

.input-field input[type="url"],
.input-field input{
  width: 100%;
  height: 40px;
  color: #631BE9;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-field label{
  position: absolute;
  color:#631BE9;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size:16px;
  pointer-events:none;
  transition: 0.15s ease;
}

.input-field input:focus~label,
.input-field input:valid~label,
.input-field input[type="url"]:focus ~ label,
.input-field input[type="url"]:valid ~ label,
.input-field input[type="url"]:not(:placeholder-shown) ~ label{
  font-size: 0.8rem;
  top:10px;
  transform: translateY(-120%);
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  color: #631BE9;
  transition: color 0.3s;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 24px;
  height: 24px;
  border: 2px solid #631BE9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left:10px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  transform-style: preserve-3d;
}

.custom-checkbox .checkmark::before {
  content: "\2713";
  font-size: 16px;
  color: transparent;
  transition: color 0.3s, transform 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color:#631BE9;
  border-color:#631BE9;
  transform: scale(1.1) rotateZ(360deg) rotateY(360deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
  color: #fff;
}

button{
  background:#631BE9;
  color: #efefef;
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
  border:none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size:16px;
  border:2px solid transparent;
  margin-top: 5px;
}

button:hover{
color: #631BE9;
background-color: #ff48459f ;
transform: translateY(-5px);
}

button:disabled{
  color: #fff;
  background-color: #631BE972;
}

button:disabled:hover{
  color: #fff;
  background-color: #631BE972;
}

.divAvisos{
  color: #000000a5;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.nombreSector {
  margin: 3px;
  color: black;
}

.eliminarBtn button{
  padding: 3px;
}
