<section class="relative w-full h-[520px] overflow-hidden">

  <div class="relative w-full h-full">

    <ng-container *ngFor="let evento of eventosHero; let i = index">

      <div class="absolute inset-0 transition-opacity duration-700" [class.opacity-100]="i === currentIndexHero"
        [class.opacity-0]="i !== currentIndexHero">

        <a class="block w-full h-full" [routerLink]="userId ? ['/detalle-evento', evento.id] : ['/iniciar-sesion']">

          <img *ngIf="evento.UrlBanner" [src]="evento.UrlBanner" class="w-full h-full object-cover">

          <div class="absolute inset-0 bg-black/40 flex items-end">

            <div class="text-white pb-[60px] pl-[80px]">

              <h2 class="text-[56px] font-bold mb-4">
                {{ evento.artista_banda }}
              </h2>

              <div class="flex gap-4">

                <div class="bg-white/20 px-4 py-2 rounded-full">
                  {{ evento.fechas[0].fecha }}
                </div>

                <div class="bg-white/20 px-4 py-2 rounded-full">
                  {{ evento.fechas[0].hora }}
                </div>

              </div>

            </div>

          </div>

        </a>

      </div>

    </ng-container>

  </div>

  <!-- indicadores -->
  <div class="absolute bottom-6 left-1/2 -translate-x-1/2 flex gap-4 z-50">

  <ng-container *ngFor="let ev of eventosHero; let i = index">
    <div
      (click)="goToSlide(i)"
      [ngClass]="i === currentIndexHero ? 'bg-white w-[40px]' : 'bg-white/40 w-[40px]'"
      class="h-[4px] rounded-full cursor-pointer transition-all duration-300">
    </div>
  </ng-container>

</div>

</section>
