/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}


.detalle-evento {
  width:30%;
  border-radius:8px;
  padding: 2%;
  border: 1px solid #ffffff80;
  background-color: #efefef90;
  margin-bottom: 5%;
}


.detalle-evento-header {
  text-align: center;
  margin-bottom: 20px;
}

.detalle-evento-titulo {
  font-size: 30px;
  font-weight: bold;
  color: #36173d;
  margin-bottom: 5px;
  text-transform: capitalize;
}


.subtitulo-evento {
  font-size: 16px;
  color: #36173d;
}


.informacion-evento {
  margin-bottom: 15px;
 text-align: left;
 margin-left:2%;
}

.lista-evento {
  list-style: none;
  padding: 0;
  margin-left:2%;
  margin-top:2%;
  font-size: 16px;
}

.detalle-item {
  margin-bottom: 10px;
  line-height: 1.5;
}

.fecha-evento {

  font-size: 16px;
  color: #36173d;
  margin-left:0;
}

.hora-evento {
  font-size: 16px;
  color: #36173d;
  margin-top: 1%;
  margin-left:0;
}


.acciones-evento {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.boton-accion {
  margin: 3px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  background-color: #36173d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton-accion:hover {
  background-color: #ff48459f;
  transform: translateY(-5px);
  color: #36173d;
}

.boton-accion:active {
  transform: translateY(2px);
}

button:disabled{
  color: #fff;
  background-color: #36173d72;
}

button:disabled:hover{
  color: #fff;
  background-color: #36173d72;
}

.sold-out {
  text-align: center;
  font-size: 16px;
  color: #ff4845;
  margin-top: 10px;
  font-weight: bold;
}

.fondo{
  position: relative;
  width: 100%;
  min-height:100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;
  background:url('/img/audiencia-background.jpg');
  background-position: center;
  background-size:auto;

} */
