<section class="fondo">
  <section class="detalle-evento">

    <!-- img y datos -->
    <div class="relative w-full h-[586px] ">
      <img [src]="eventoSeleccionado?.UrlBanner" alt="banner" class="w-full h-full object-cover">
      <div class="absolute inset-0 bg-[#5353EB]/45 flex flex-col justify-end pb-[20px] pl-[30px]">

        <h2 class="inter text-[64px] leading-none font-bold tracking-wide text-[#E1F44B]">
          {{eventoSeleccionado?.artista_banda}}</h2>
        <h3 class="inter text-[44px] font-bold leading-none text-[#E1F44B]">
          {{eventoSeleccionado?.nombreEvento}}</h3>

      </div>
    </div>



    <!-- fechas -->

    <div class="lista-evento">
      <!-- Cada fecha tiene sus propios detalles -->
      <div *ngFor="let fecha of eventoSeleccionado?.fechas"
        class="detalle-item w-full h-[83px] border border-#D9D9D9 flex ">

        <!-- fecha -->
        <div class="w-[115px] h-full shrink-0 bg-[#5353EB] border border-[#5353EB] flex justify-center items-center">
          <p class="w-[43px] fecha-evento text-white leading-none tracking-wide text-[26px] text-center">
            {{ fecha.fecha | date:'dd MMM' }}
          </p>
        </div>


        <!-- recinto y horario -->
        <div class="pl-[20px] flex flex-col justify-center h-full w-full">
          <p class="text-[20px]">{{ recintoNombre }}</p>
          <p class="hora-evento text-[20px]">{{ fecha.hora }}</p>
        </div>



        <!-- Botones según tipo de usuario -->
        <div *ngIf="tipo == 2" class="acciones-evento flex w-full h-full flex justify-end items-center pr-[30px]">

          <!-- user -->
          <button type="button" class="w-[180px] h-[40px] rounded-[100px] text-white transition-colors duration-200
         disabled:cursor-not-allowed
         disabled:bg-gray-400
         disabled:text-gray-700
         bg-[#5353EB] hover:bg-[#3F3FD6]" [disabled]="fecha.disponibilidadTotal == 0 || fecha.habilitado == 0"
            [routerLink]="fecha.disponibilidadTotal > 0 ? ['/fila', eventoSeleccionado?.id, fecha.fecha] : null">
            {{ fecha.disponibilidadTotal == 0 ? 'Sold out' : 'Buy tickets' }}
          </button>

          <!-- <div *ngIf="fecha.disponibilidadTotal==0" class="sold-out">Sold out</div> -->
        </div>

        <!-- admin -->
        <div *ngIf="tipo == 1 && eventoSeleccionado?.alta === 1" class="acciones-evento">
          <button class="boton-accion" (click)="confirmarFila(fecha)">
            {{ fecha.habilitado === 1 ? 'Deshabilitar Fila' : 'Habilitar Fila' }}
          </button>
        </div>
      </div>
    </div>

    <!-- Botones para el administrador -->
    <div *ngIf="tipo == 1" class="acciones-evento">

      <div *ngIf="ventana">
        <app-disponibilidad [evento]="eventoSeleccionado" [ventana]="ventana"
          (cerrar)="cerrarVentana()"></app-disponibilidad>
      </div>


      <button class="boton-accion" (click)="changeEdit()">Editar Evento</button>

      <button class="boton-accion" (click)="confirmarDH()">
        {{ eventoSeleccionado?.alta === 1 ? 'Deshabilitar Evento' : 'Habilitar Evento' }}
      </button>

      <button class="boton-accion" (click)="verDisponibilidad()">Ver disponibilidades</button>

    </div>

  </section>

</section>

<div *ngIf="isEditing" class="formulario-editar">
  <app-add-evento [eventoIn]="eventoSeleccionado" (updateEvento)="updateEventos($event)"></app-add-evento>
</div>
