.wrapper{
  margin-top:50px;
  width:100%;
  border-radius:8px;
  padding: 30px;
  text-align: center;
  border: 1px solid #ffffff80;
  backdrop-filter: blur(8px);
  margin-bottom: 10%;
  background-color: #efefefc8;
}
form{
  display: flex;
  flex-direction: column;

}
h2{
  font-size: 2.5em;
  margin-bottom:20px;
  color:#fff;
}

h4{

  margin-bottom:20px;
  color:#631BE9;
}

.input-field{
  position: relative;
  border-bottom:2px solid #631BE9;
  margin: 15px 0;
}

.input-field label{
  position: absolute;
  color:#631BE9;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size:16px;
  pointer-events:none;
  transition: 0.15s ease;
}

.input-field input{
  width:100%;
  height:40px;
  color: #631BE9;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-field input:focus~label,
.input-field input:valid~label{
  font-size: 0.8rem;
  top:10px;
  transform: translateY(-120%);
}

section{

  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  min-height:100vh;
  padding: 0 10px;
  color:white;
  position: relative;


}
button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  background-color: #631BE9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

button:hover {
  background-color: #ff48459f;
  color: #631BE9;
  transform: translateY(-5px);
}

/* CSS SELECT */

.input-field select {
width: 100%;
height: 40px;
color: #fff;
background: transparent;
border: none;
outline: none;
font-size: 16px;
cursor: pointer;
margin: 15px 0;
}


.input-field select option {
background: #efefef90;
color: #631BE9;
}

.input-field select~label {
position: absolute;
color: #631BE9;
top: 50%;
left: 0;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: 0.15s ease;
}

.input-field select:focus~label,
.input-field select:valid~label {
font-size: 0.8rem;
top: 10px;
transform: translateY(-120%);
}

.password{
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
}

.divAvisos{

  color: #ffffff;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.color{
  color: #631BE9;
}

.color:hover{
  color: #ff48459f
}

