<section class="flex min-h-screen">

  <div class="w-1/2 hidden md:block min-h-screen bg-cover bg-center h-full relative bg-[#E1F44B] rounded-r-[80px]" style="background-image: url(/img/banner-tp.png);">
    <div class="absolute top-1/2 -translate-y-1/2 left-12 z-10">
      <h2 class="inter text-white text-[64px] leading-none font-bold tracking-wide">
        Welcome to
      </h2>
      <h3 class="inter text-white text-[64px] leading-none">Ticketpass</h3>
      <div class="inter text-white text-[16px] ml-[16px] mt-[16px]">Login to access your account</div>
    </div>

  </div>




  <div class="wrapper w-full md:w-1/2 min-h-screen flex items-center justify-center">

    <form #formInicioSesion="ngForm" (ngSubmit)="iniciarSesion(formInicioSesion)">

      <!-- login text -->
      <div class="mb-[44px]">
        <h2 class="inter font-bold text-[32px]">Login</h2>
        <h3 class="inter text-[16px]">Welcome back! Please login your account</h3>
      </div>

      <!-- inputs -->
      <div class="inputs mb-[44px] flex flex-col gap-4">
        <div class="input-field flex flex-col ">
          <label for="usuarioForm" class="inter text-[16px]">User</label>
          <input type="text" id="usuarioForm" name="usuarioForm" ngModel required class=" w-[300px] h-[35px] border border-[#6B7280]
          rounded-[8px] ">

          <div class="divAvisos"
            *ngIf="formInicioSesion.controls['usuarioForm']?.invalid && formInicioSesion.controls['usuarioForm']?.touched">
            You must enter an username.
          </div>
        </div>

        <div class="input-field flex flex-col">
          <label for="contraseniaForm" class="inter text-[16px]">Password</label>

          <div class="flex gap-2 items-center">
            <input [type]="showPassword ? 'text' : 'password'" id="contraseniaForm" name="contraseniaForm" ngModel
              required class=" w-[300px] h-[35px] border border-[#6B7280]
          rounded-[8px] ">
            <fa-icon [icon]="showPassword ? faEyeSlash : faEye" (click)="showPassword = !showPassword"
              class="password"></fa-icon>
          </div>

          <div class="divAvisos"
            *ngIf="formInicioSesion.controls['contraseniaForm']?.invalid && formInicioSesion.controls['contraseniaForm']?.touched">
            You must enter your password.
          </div>
        </div>

      </div>

      <div class="forgot_password mb-2 flex justify-between inter text-[12px]">
        <!-- no funcional todavia -->
        <div class="flex gap-[4px]">
          <input type="checkbox" class="accent-[#FCACFD] cursor-pointer">
          <div>Remember me</div>

        </div>
        <a routerLink="/cambiar-contrasenia"
          class=" text-[#8E8E8E]  hover:text-[#7C3AED] transition-colors underline">Forgot password?</a>
      </div>

      <!-- button login -->
      <button type="submit" [disabled]="formInicioSesion.invalid" class="w-full h-[40px] inter rounded-[100px] bg-[#5353EB] text-white hover:bg-[#3F3FD6]
    transition-colors duration-200
    disabled:cursor-not-allowed">Login</button>

      <div class="registro flex gap-[4px] inter text-[12px] mt-[16px]">
        <div class="text-[#8E8E8E]">New user?</div>
        <a routerLink="/registrarse" class="text-[#5353EB] underline ">Sign up</a>
      </div>



    </form>


  </div>

</section>
