/*
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

section{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    min-height:100vh;
    padding: 0 10px;
    color:white;
    background:url('/img/audiencia-background.jpg')
    #000;
    background-position: center;
    background-size:auto;
}

.wrapper{
    margin-top: 7%;
    margin-bottom:20%;
    width:35%;
    border-radius:8px;
    padding: 3%;
    text-align: center;
    border: 1px solid #ffffff80;
    backdrop-filter: blur(8px);
}
form{
    display: flex;
    flex-direction: column;

}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    margin-bottom:20px;
    color:#fff;
}

.input-field{
    position: relative;
    border-bottom:2px solid #ccc;
    margin: 15px 0;
}

.input-field label{
    position: absolute;
    color:#fff;
    top:50%;
    left:0;
    transform: translateY(-50%);
    font-size:16px;
    pointer-events:none;
    transition: 0.15s ease;
}

.input-field input{
    width:100%;
    height:40px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-field input:focus~label,
.input-field input:valid~label{
    font-size: 0.8rem;
    top:10px;
    transform: translateY(-120%);
}

.wrapper a {
 color: #efefef;
 text-decoration: underline;
}

button{
    background:#36173d89;
    color:#fff;
    font-weight:600px;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size:16px;
    border:2px solid transparent;
}
button:hover{
    background-color: #ff48459f;
   transform: translateY(-5px);
   color:#36173d;

}

.registro{
    text-align: center;
    margin-top:30px;
    color: #fff;
}
.divAvisos{

    color: #ccc;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.password{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
 */

 
