
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
 background-color: #efefef;
 position: relative;
}

.divreg {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #631BE9b8;
  border-radius:8px;
  width:100%;
  border-top: none;
}

h2{
  margin-left: 10%;
  margin-top:0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 45px;
  color: white;
}

.containerImgRecinto {
  margin-top: 5%;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.h4direc{
  border-bottom: 1px solid white;
}

h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 200;

}

 .datos-recinto {
  padding: 20px;
  background-color: #dbdada;
  border-radius: 8px;

  max-width: 600px;
  margin: 20px auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

.titulo-seccion {
  font-size: 20px;
  font-weight: bold;
  color: #631BE9;
  margin-bottom: 10px;
}

.detalles {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6;
}

.botonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.botonContainer button {
padding: 1%;
width:10%;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #631BE9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 9%;
}

.botonContainer button:hover {
  background-color: #ff48459f ;
   transform: translateY(-5px);
   color: #631BE9;
}

