/*
.boton-deshabilitados {
  margin-top:3%;
  padding: 10px 20px;
  font-size: 16px;
  font-weight:100;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  margin-left:5%;
}

.boton-deshabilitados:hover {
  background-color: #631BE989;
}

section{
    box-sizing: border-box;
    width: 100%;
    display: row;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    min-height:100vh;
    padding: 0;
    margin: 0;
    color:white;
    position: relative;
       background: url('/img/background-op2.png') center center   / cover no-repeat;
} */
