/*

    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    padding-bottom: 3em ;
    min-height: 110vh;
    background-color: black;
}

 */

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.archivo-black {
  font-family: 'Archivo Black', sans-serif;
}
